<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
      <section class="flex w-screen min-h-screen justify-center bg-slate-800">
        <div class="container my-5 rounded-lg bg-slate-700">
          <div class="mb-4 w-full grid justify-center gap-4">
            <h1 class="text-center text-3xl font-bold my-5 text-white">Ini Pencarian</h1>
            <div>
              <input v-model="search" type="text" ref="search" placeholder="Cari sesuatu" class="w-80 h-min p-3 border rounded-l-lg" />
              <!-- <button @click="changeView" class="bg-slate-500 p-3">ganti view</button> -->
              <button @click="searchPokemon" class="bg-slate-400 py-3 px-5 rounded-r-lg">Cari</button>
            </div>
          </div>
          <div v-if="view == 'default'">
            <section class="flex flex-wrap gap-2 justify-center">
              <div @click="viewDetail(item.id)" class="w-1/5 bg-slate-600 rounded-lg flex justify-center flex-col" v-for="item in listPokemon">
                <img :src="item.sprites.front_default" alt="" />
                <span v-text="item.name" class="pb-3 text-center capitalize text-white"></span>
              </div>
              <div class="flex w-full flex-row gap-5 justify-center p-5 text-white">
                <button v-if="prev != null" @click="prevPage" class="font-bold">Prev</button>
                <span class="px-5">{{page}}</span>
                <button v-if="next != null" @click="nextPage" class="font-bold">Next</button>
              </div>
            </section>
          </div>
          <div class="" v-if="view == 'detail'">
            <button @click="changeView" class="bg-slate-400 ml-5 p-3 rounded-lg">Back</button>
            <section class="grid grid-cols-2 justify-center gap-3 text-white m-3">
              <div>
                <img class="w-full h-auto bg-slate-600 rounded-lg" :src="detail.sprites.front_default" alt="" />
              </div>
              <div class="flex flex-col gap-2">
                <div class="title">
                  <h1 class="capitalize text-2xl font-bold">{{detail.name}}</h1>
                  <div>
                    <span>| </span>
                    <span class="capitalize" v-for="item in detail.types"> {{item.type.name}} | </span>
                  </div>
                </div>
                <div class="stats flex-col flex">
                  <h1 class="text-2xl font-semibold">Ability</h1>
                  <span class="capitalize" v-for="item in detail.stats">{{item.stat.name}}: {{item.base_stat}}</span>
                </div>
                <div class="ability flex flex-col">
                  <h1 class="text-2xl font-semibold">Ability</h1>
                  <span class="capitalize" v-for="item in detail.abilities">{{item.ability.name}}</span>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
      <div v-if="notif" class="bg-slate-50 flex overflow-hidden fixed right-3 top-3 p-7 rounded-md -translate-y-[125%] animate-notif">
        <h3 class="text-xl">{{notifText}}</h3>
        <div class="flex w-full absolute left-0 bottom-0 bg-slate-300 py-1 animate-notifBar"></div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        data() {
          return {
            listPokemon: [],
            view: "default",
            detail: "",
            search: "",
            page: 1,
            prev: "",
            next: "",
            notif: false,
            notifText: "",
            gen1Pokemon: [],
          };
        },
        created() {
          // console.log(this);
        },
        methods: {
          async getGen1Pokemon() {
            const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=10000")
              .then((response) => response.json())
              .then((response) => response.results);
            // console.log(response);
            this.gen1Pokemon = response;
            console.log(this.gen1Pokemon);
          },
          changeView() {
            this.view == "default" ? (this.view = "detail") : (this.view = "default");
          },

          async searchPokemon() {
            try {
              const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${this.search}`);
              if (!response.ok) {
                throw new Error("Pokémon not found!");
              }

              const pokemon = await response.json();
              this.detail = pokemon;
              this.changeView();
            } catch (error) {
              console.error(error);
              this.notif = true;
              this.notifText = error.message;

              setTimeout(() => {
                this.notif = false;
              }, 3000);
            }
          },
          async getPokemonList() {
            const response = await fetch("https://pokeapi.co/api/v2/pokemon/").then((response) => response.json());
            const pokemons = response.results;
            this.prev = response.previous;
            this.next = response.next;

            // console.log(pokemons);
            this.listPokemon = [];
            pokemons.forEach((pokemon) => {
              this.getEachPokemon(pokemon);
            });
          },
          async getEachPokemon(pokemons) {
            const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemons.name}`);
            const pokemon = await response.json();
            // console.log(pokemon);
            this.listPokemon.push(pokemon);
            this.listPokemon.sort((a, b) => a.id - b.id);
          },
          prevPage() {
            this.page--;
            const link = this.prev;
            // console.log(link);
            this.switchPage(link);
          },
          nextPage() {
            this.page++;
            const link = this.next;
            // console.log(link);
            this.switchPage(link);
          },
          async switchPage(link) {
            const response = await fetch(link).then((response) => response.json());
            const pokemons = response.results;
            this.prev = response.previous;
            this.next = response.next;

            this.listPokemon = [];
            pokemons.forEach((pokemon) => {
              this.getEachPokemon(pokemon);
            });
          },
          async viewDetail(id) {
            const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${id}`);
            const pokemon = await response.json();

            this.detail = pokemon;
            console.log(this.detail);
            this.changeView();
          },
        },
        watch: {
          search() {
            if (this.search != "") {
              let filteredPokemon = this.gen1Pokemon.filter((pokemon) => {
                return pokemon.name.toLowerCase().includes(this.search.toLowerCase());
              });
              // console.log(filteredPokemon);
              this.listPokemon = [];
              filteredPokemon.forEach((pokemon) => {
                this.getEachPokemon(pokemon);
              });
            } else {
              this.getPokemonList();
            }
          },
        },
        mounted() {
          this.getPokemonList();
          this.getGen1Pokemon();
        },
      }).mount("#app");
    </script>
  </body>
</html>
